{% load static %}   
<link rel="stylesheet" type="text/css" href="{% static 'tables/style.css' %}">
<script src="//unpkg.com/alpinejs" defer></script>

<div x-data="{}" style="display: flex">
    <div class="coordinate-items-container">
        {% for coordenate in coordinates %}
            <div @click="onMapClick({latlng: { lat: {{coordenate.lat}}, lng: {{coordenate.lng}} }})" class="coordinate-item">
                <!-- <h2>{{coordenate.lat}}, {{coordenate.lng}}</h2> -->
                <h2>{{coordenate.address}}</h2>
            </div>
        {% endfor %}
        <a style="text-align: center;" href="{% url 'search' %}">Search for tables in a specific radius</a>
    </div>
    {% include 'tables/map.html' %}
    <a href="{% url 'add' %}" id="add-button">Add a new table</a>
</div>

{% autoescape off %}
<script>
    var coordinates = { data: [
        {% for coordenate in coordinates %}
            [{{coordenate.lat}},{{coordenate.lng}}],
        {% endfor %}
        ]
    }


    map.setView(coordinates.data[0], 8)

    for (let coordinate of coordinates.data) {
        console.log("coor: ", coordinate)
        L.marker(coordinate).addTo(map)
    }

    function onMapClick(e) {
        console.log(e)
        map.setView(e.latlng, 8)
    }

    map.on('click', onMapClick);

</script>
{% endautoescape %}